/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 1268px;
	width: 1013px;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

/* border */

.st-section {
	border: 1px solid #ff0000;
}

.st-item {
	border: 1px solid #cc0000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}

/* allegiance */

.st-allegiance {
	position: relative;
}

.st-allegiance img {
	border: 1px solid #333 !important;
}

/* overview */

.st-overview {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 440px;
}

.st-overview-item {
	display: block;
	font-size: 12px;
	margin-top: 0.6px;
	text-transform: uppercase;
}

.st-overview-item-searchName {
	display: none;
}

.st-overview .st-overview-item .st-overview-label {
	display: inline-block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	width: 70px;
}

.st-overview .st-overview-item .st-overview-value {
	display: inline-block;
}

.st-overview .st-overview-item.st-overview-item-quote .st-overview-value {
	display: block;
}

/* demographics */

.st-demographics {
	position: absolute;
	top: 0px;
	left: 628px;
	width: 200px;
	height: 100px;
}

.st-demographics-item {
	display: block;
	font-size: 12px;
	margin-top: 0.6px;
	text-transform: uppercase;
}

.st-demographics .st-demographics-item .st-demographic-label {
	display: inline-block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	width: 60px;
}

/* stress */
.st-stress {
	position: absolute;
	top: 120px;
	left: 300px;
	width: 800px;
}

.st-stress .st-stress-item {
	font-size: 10px;
	display: block;
	height: 18px;
	padding: 0px;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.st-stress .st-stress-item .st-stress-item-checkbox {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: inline-block;
	width: 16px;

	background-color: #fff;	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.st-stress .st-stress-item .st-stress-item-checkbox.is-not-visible.first {
	border-left: 1px solid #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	width: 16px;

	background-color: #fff;	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.st-stress .st-stress-item .st-stress-item-checkbox.is-not-visible {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	width: 16px;

	background-color: #fff;	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.st-stress .st-stress-item .st-stress-item-desc {
	border-left: 2px solid #000;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	display: inline-block;
	width: 100px;
	text-align: center;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.st-stress .st-stress-item .st-stress-item-checkbox-5,
.st-stress .st-stress-item .st-stress-item-checkbox-10,
.st-stress .st-stress-item .st-stress-item-checkbox-15 {
	border-width: 1px 0px 1px 2px;
}

.st-stress .st-item.st-stress-header {
	font-size: 12px;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	width: 200px;
}

.st-stress .st-item.st-stress-header .st-stress-header-stress {
	display: inline-block;
	font-size: 12px;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	width: 322px;
}

.st-stress .st-item.st-stress-header .st-stress-header-penalty {
	font-size: 12px;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	width: 200px;
}

/* attributes */

.st-attributes {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 604px;
}

.st-attribute {
	display: block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-size: 12px;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0 20px 0 0;
	text-transform: uppercase;
}

.st-attribute .st-attribute-label {
	display: inline-block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	text-align: center;
	vertical-align: top;
	width: 50px;
}

.st-attribute .st-attribute-label [class^=char] {
	display: inline-block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	text-align: center;
	width: 14px;
}

.st-attribute .st-attribute-value {
	display: inline-block;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;
	text-align: center;
	width: 40px;
}

.st-attribute .st-attribute-description {
	font-size: 10px;
	font-weight: normal;
}

.st-attribute.st-attribute-per {
	margin-top: 10px;
}

.st-attribute.st-attribute-rng {
	margin-left: 175px;
    margin-top: -20px;
    width: 300px;
}

/* combat */

.st-combat {
	position: absolute;
	top: 250px;
	left: 604px;
	width: 320px;
}

.st-combat .st-attribute .st-attribute-value {
	text-align: left;
	width: 220px;
}

/* endurance */

.st-endurance {
	position: absolute;
	top: 254px;
	left: 78px;
	width: 352px;
}

.st-endurance-item {
	display: inline-block;
	float: left;
	font-size: 10px;
	font-weight: bold;
	height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	text-align: center;
	width: 87.4px;
}

.st-endurance-item-inactsave {
	visibility: hidden;
}

.st-endurance-item-uncthresh {
	visibility: hidden;
}

.st-endurance-item-woundhealrate {
	margin: 12px 0 0 0;
}

.st-endurance-item-fathealrate {
	margin: 12px 0 0 0;
}

/* stats */

.st-stats {
	position: absolute;
	top: 282px;
	left: 506px;
}

.st-stat {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 44.8px;
}

.border .st-skills {
	border: 1px solid orange;
}

.st-skills {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 480px;
	width: 100px;
}

.st-skills-title {
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-weight: bolder;	
	text-transform: uppercase;
}

.st-skills-0 {
	left: 0px;
}

.st-skills-1 {
	left: 340px;
}

.st-skills-2 {
	left: 680px;
}

.st-skill {
	display: block;
	margin: 0 0 0 0;
}

.st-skill-item-key {
	position: absolute;
	display: inline-block;
	font-size: 12px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	width: 30px;
}

.st-skill-item-stat {
	position: absolute;
	display: inline-block;
	font-size: 10px;
	left: 116px;
	margin: 2px 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}

.st-low-attr {
	color: red;	
}

.st-mid-attr {
	color: green;
}

.st-high-attr {
	color: blue;
}

.st-hp-box {
	position: absolute;
	border: 1px solid #000 !important;
	display: inline-block;
	height: 100px;
	width: 288px;
	top: 360px;
	left: 608px;
}

.no-border .st-skill-item-key, .st-skill-item-key {
	border-bottom: 1px solid #ccc;
	position: absolute;
	display: inline-block;
	font-size: 12px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	width: 177px;
}

.no-border .st-skill-item, .st-skill-item {
	border-bottom: 1px solid #ccc;
	position: absolute;
	display: inline-block;
	font-size: 12px;
	left: 186px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	width: 30px;
}

.st-section.st-grid {
	border: 1px solid #333333;
	position: absolute;
	top: 990px;
	height: 280px;
	width: 896px;
}

.st-equipment-item {
	clear: both;
	font-size: 12px;
	margin: 20px 0;
}

.st-equipment-item dt.st-equipment-name {
	font-weight: bold;
}

.st-equipment-item dt, .st-equipment-item dd {
	float: left;
	font-weight: normal;
	margin: 0 4px;
}

.st-skill-extreme {
	color: blue;
	font-weight: bold;
}

.st-skill-high {
	color: green;
	font-weight: bold;
}

.st-skill-medium {
}

.st-skill-low {
}
