/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 1268px;
	width: 1013px;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

/* border */

.st-section {
	border: 1px solid #ff0000;
}

.st-section-title {
	font-weight: bolder;	
	text-transform: uppercase;
}

.st-item {
	border: 1px solid #cc0000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}

/* overview */

.st-overview {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 440px;
}

.st-overview-item {
	display: block;
	font-size: 12px;
	margin-top: 0.6px;
	text-transform: uppercase;
}

.st-overview-item-searchName {
	display: none;
}

.st-overview .st-overview-item .st-overview-label {
	color: #0000cc;
	display: inline-block;
	width: 130px;
}

.st-overview .st-overview-item .st-overview-value {
	display: inline-block;
}

.st-overview .st-overview-item.st-overview-item-quote .st-overview-value {
	display: block;
}

/* attributes */

.st-attributes {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 600px;
}

.st-attribute {
	display: block;
	font-size: 12px;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0 20px 0 0;
	text-transform: uppercase;
}

.st-attribute .st-attribute-label {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 50px;
}

.st-attribute .st-attribute-label [class^=char] {
	color: #0000cc;
	display: inline-block;
	text-align: center;
	width: 14px;
}

.st-attribute .st-attribute-value {
	display: inline-block;
	text-align: center;
	width: 40px;
}

.st-attribute .st-attribute-description {
	font-size: 10px;
	font-weight: normal;
}

.st-attribute.st-attribute-per {
	margin-top: 10px;
}

.st-attribute.st-attribute-rng {
	margin-left: 175px;
    margin-top: -20px;
    width: 300px;
}

/* skills */

.st-skills {
	left: 400px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 160px;
	width: 400px;
}

.st-skill {
	display: block;
	margin: 0 0 0 0;
}

.st-skill-item-key {
	display: inline-block;
	font-size: 12px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	width: 130px;
}

.st-skill-item-stat {
	display: inline-block;
	font-size: 10px;
	margin: 2px 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}

.st-low-attr {
	color: red;	
}

.st-mid-attr {
	color: green;
}

.st-high-attr {
	color: blue;
}

.st-equipment-item {
	clear: both;
	font-size: 12px;
	margin: 20px 0;
}

.st-equipment-item dt, .st-equipment-item dd {
	float: left;
	font-weight: normal;
	margin: 0 4px;
}

